body{
  background: #666666;
}
.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: #fff;
  max-height: 500px;
  max-width: 350px;

  &__header {

      background-color: #ddd;
      display: grid;
      grid-template-columns: 2fr 1.1fr;
    }
    
    &__header-title-container {
      display: grid;
  }

  &__header-title {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  &__header-button {
  }

  &__content {
    display: flex;
  }
  
  &__content-block {
    &_left {
      width: 30%;
      border-right: 1px solid #ccc;
    }
    
    &_right {
      width: 70%;
      height: 300px;
      overflow: auto;
    }
  }

  &__footer {
      background-color: #ddd;
      word-wrap: break-word;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 500px;
  width: 100%;
}